.signin {
    &__box-sn {
        @extend %bdgr;
        @extend %p-6;
    }

    &__msg {
        font-size: $fs-small;
        color: $cl-secondary;
    }

    &__sn {
        @include display(row, center, space-between);
        @extend %mb-2;
    }

    &__ip-sn {
        & form > div > input {
            width: 100%;
        }

        & form textarea {
            width: 100%;
        }

        & form div {
            @extend %mb-2;
        }
    }

    &__sm-sn {
        @extend %btn;
    }

    &__msg,
    &__title {
        @extend %mb-2;
    }

    &__node-sn {
        @extend %btn;

        & > a {
            text-decoration: none;
            color: #fff;
        }
    }

    &__node-sm {
        @extend %btn;
        text-decoration: none !important;
        color: #fff;
        font-size: $fs-small;
    }

    &__receive-news {
        @include display(row, center, flex-start);

        & div :first-child {
            @extend %mr-1;
        }
    }
}
