$cl-white: #ffffff;
$cl-black: #000000;
$cl-red: #9c0000;
$cl-primary: #6b6b6bbf;
$cl-secondary: #5e5f5f;
$cl-3rd: #f6f6f6bf;
$cl-4rd: #2a2126;
$cl-bg-primary: #e6ae48;
$cl-rd: #ccccccbf;
$layer: #0000006b;
$w-25p: 25%;
$w-30p: 30%;
$w-70p: 70%;
$w-100: 100%;
$h-100: 100%;
$h-25rem: 25rem;
$w-4rem: 4rem;
$h-4rem: 4rem;
$h1: 2.5rem;
$h2: 2rem;
$h3: 1.75rem;
$p-1: 1rem;
$fs-small: 1.4rem;