.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal-backdrop{
  background: rgb(0, 0, 0, 0.35);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

.modal-dialog{
  position: relative;
  width: 50%;
  margin: auto;
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  z-index: 101;
  animation: modal .5s ease 1;
}

@keyframes modal {
  0% {
    opacity: 0;
    top: -100px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.main-modal {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
}

.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px 20px;
  cursor: pointer;
  font-size: 18px;
}

/* Form */
.form-group {
  margin-bottom: 1rem;
}